body {
    background-color: #FFF8DC;    
}

/* CSS reset */
*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
  }
  
a {      /* Para remover as linhas dos links */
    text-decoration: none;
  }
  
a.links { /* Para esconder as ancoras da tela */
    display: none;
  }

 .content{
    width: 450px;
    min-height: 490px;    
    margin: 0px auto;
    position: relative; 
    
    margin-top: 90px;
  }

h1{
    font-size: 40px;
    color:black;
    padding: 2px 0 10px 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }

  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: black;
  }

p {
   margin-bottom:15px;
}
   
.content p:first-child{
   margin: 0px;
}
   
label{
    color:black;
    position: relative;
}
 
::-webkit-input-placeholder {  /* placeholder */
    color: #bebcbc; 
    font-style: italic;
  }

  input {
    outline: none;
  }
   
  input:not([type="checkbox"]) { /*estilo dos input,  menos o checkbox */
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
   
    border-radius: 3px;   
    
    transition: all 0.2s linear;
  }
  
  input[type="submit"] { /*estilo do bot達o submit */
    width: 100%!important;
    cursor: pointer;  
    background: black;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px; 
   
    border-radius: 5px;
   
    transition: all 0.2s linear;
  }
   
  /*estilo do bot達o submit no hover */
  input[type="submit"]:hover {
    background: #666666;
  }

  .link {
    position: absolute;
    background: white;
    color: black;
    left: 0px;
    height: 20px;
    width: 390px;
    padding: 17px 30px 20px 30px;
    font-size: 15px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
   
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
   
  .link a {
    font-weight: bold;
    background: black;
    padding: 6px;
    color: white;
    margin-left: 10px;
    border: 1px solid #FFF8DC;
   
    -webkit-border-radius: 4px;
    border-radius: 4px;  
   
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
   
.link a:hover {
    color: black;
    background: #f7f7f7;
    border: 1px solid black;
}

#cadastro, 
#login {
  position: absolute;
  top: 0px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: white;
  border: 1px solid black;
   
  box-shadow: 5px;
  border-radius: 8px;
   
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

/* Efeito ao clicar no bot達o ( Ir para Login ) */
#paracadastro:target ~ .content #cadastro,
#paralogin:target ~ .content #login{
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
 
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
 
/* Efeito ao clicar no bot達o ( Cadastre-se ) */
#registro:target ~ .content #login,
#paralogin:target ~ .content #cadastro{
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
   
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
   
  /*fadeOutLeft*/
  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
  }
   
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }
  