* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #FFF8DC;
    min-height: 100%;
    position: relative;
}

#menu ul li {
    display: inline-block;
    padding: 35px; 
    
    font-family: 'Courier New', Courier, monospace;
}

#menu ul li a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    transition: background .2s;
}

#menu ul li:first-child a {
    background-color: black;
    border-radius: 100px;
    padding: 10px 20px;
    color: white;

    cursor: pointer;
}

#menu ul li:first-child a:hover {
    background-color: #666666;
}

#menu ul li:last-child {
    float: right;

    font-weight: bold;
}

.content h1 {
    font-family: 'Lobster', cursive;
    font-size: 120px;
    margin-left: 100px;
    margin-top: 80px;

    position: absolute;
}

aside p {
    text-align: right;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

    margin-top: 130px;
    margin-right: 25px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 680px;
    margin-top: 50px;
}
.div {
    width: 100px;
    height: 100px;
    position: relative;
} 

.div div:nth-child(1), .div div:nth-child(2) {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: black;
    color: white;
}

.objeto {
    animation: objeto 2s infinite;
    position: absolute;
    z-index: 1;
}

.bg {
    animation: bg 2s infinite;
    opacity: .5;
}

@keyframes objeto {
    0%{transform: scale(1)}
    25%{transform: scale(1.05)}
    50%{transform: scale(1)}
}

@keyframes bg {
    10%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
        opacity: 0;
        height: 60px;
    }

    100%{
        opacity: 0;
    }
}

footer {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    background-color: black;

    position: absolute;
    bottom: 0;
    width: 100%;
}